# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Terrace,54.5163,-128.6035,53.51,mist,100,100,4.61,CA
1,1,Moron,-34.6534,-58.6198,77.02,scattered clouds,48,41,2.33,AR
2,2,Half Moon Bay,37.4636,-122.4286,63.54,mist,89,100,6.91,US
3,3,Taoudenni,22.6783,-3.9836,100.02,clear sky,12,0,12.41,ML
4,4,Kenai,60.5544,-151.2583,39.09,clear sky,98,0,5.75,US

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(5)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Moron,-34.6534,-58.6198,77.02,scattered clouds,48,41,2.33,AR
6,6,Butaritari,3.0707,172.7902,81.52,light rain,76,100,15.46,KI
10,10,Camacha,33.0833,-16.3333,71.02,scattered clouds,60,40,14.97,PT
13,13,Jadu,31.9530,12.0261,71.40,overcast clouds,84,85,18.14,LY
16,16,Atuona,-9.8000,-139.0333,76.03,broken clouds,75,52,15.73,PF

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(5)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Moron,-34.6534,-58.6198,77.02,scattered clouds,48,41,2.33,AR
6,6,Butaritari,3.0707,172.7902,81.52,light rain,76,100,15.46,KI
10,10,Camacha,33.0833,-16.3333,71.02,scattered clouds,60,40,14.97,PT
13,13,Jadu,31.9530,12.0261,71.40,overcast clouds,84,85,18.14,LY
16,16,Atuona,-9.8000,-139.0333,76.03,broken clouds,75,52,15.73,PF

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

          City Country  Max Temp Current Description      Lat       Lng
1        Moron      AR     77.02    scattered clouds -34.6534  -58.6198
6   Butaritari      KI     81.52          light rain   3.0707  172.7902
10     Camacha      PT     71.02    scattered clouds  33.0833  -16.3333
13        Jadu      LY     71.40     overcast clouds  31.9530   12.0261
16      Atuona      PF     76.03       broken clouds  -9.8000 -139.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Moron,AR,77.02,scattered clouds,-34.6534,-58.6198,
6,Butaritari,KI,81.52,light rain,3.0707,172.7902,
10,Camacha,PT,71.02,scattered clouds,33.0833,-16.3333,
13,Jadu,LY,71.40,overcast clouds,31.9530,12.0261,
16,Atuona,PF,76.03,broken clouds,-9.8000,-139.0333,
19,Laela,TZ,79.90,overcast clouds,-8.5667,32.0500,
25,Samana,DO,80.82,broken clouds,19.2056,-69.3369,
27,Hilo,US,76.28,clear sky,19.7297,-155.0900,
29,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,
30,Rikitea,PF,73.71,broken clouds,-23.1203,-134.9692,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Moron,AR,77.02,scattered clouds,-34.6534,-58.6198,Hotel Morón
6,Butaritari,KI,81.52,light rain,3.0707,172.7902,Isles Sunset Lodge
10,Camacha,PT,71.02,scattered clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
13,Jadu,LY,71.40,overcast clouds,31.9530,12.0261,امياس للصرافة
16,Atuona,PF,76.03,broken clouds,-9.8000,-139.0333,Villa Enata
19,Laela,TZ,79.90,overcast clouds,-8.5667,32.0500,Samazi laela
25,Samana,DO,80.82,broken clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
27,Hilo,US,76.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Rikitea,PF,73.71,broken clouds,-23.1203,-134.9692,People ThankYou

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [15]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Moron,AR,77.02,scattered clouds,-34.6534,-58.6198,Hotel Morón
6,Butaritari,KI,81.52,light rain,3.0707,172.7902,Isles Sunset Lodge
10,Camacha,PT,71.02,scattered clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
13,Jadu,LY,71.40,overcast clouds,31.9530,12.0261,امياس للصرافة
16,Atuona,PF,76.03,broken clouds,-9.8000,-139.0333,Villa Enata
19,Laela,TZ,79.90,overcast clouds,-8.5667,32.0500,Samazi laela
25,Samana,DO,80.82,broken clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
27,Hilo,US,76.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Rikitea,PF,73.71,broken clouds,-23.1203,-134.9692,People ThankYou

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Morón</dd>\n<dt>City</dt><dd>Moron</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 81.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Porto Santo & Spa</dd>\n<dt>City</dt><dd>Camacha</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>امياس للصرافة</dd>\n<dt>City</dt><dd>Jadu</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Samazi laela</dd>\n<dt>City</dt><dd>Laela</dd>\n<dt>Country</dt><dd>TZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Bannister - Hotel & Yacht Club</dd>\n<dt>City</dt><dd>Samana</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.71 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -34.6534  -58.6198
6    3.0707  172.7902
10  33.0833  -16.3333
13  31.9530   12.0261
16  -9.8000 -139.0333
19  -8.5667   32.0500
25  19.2056  -69.3369
27  19.7297 -155.0900
29  -0.7393  -90.3518
30 -23.1203 -134.9692

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))